#botoes .numero,
#botoes .operador {
	color: #000;
	background-color: #BBB;
}

#botoes .numero div:nth-child(3n),
#botoes .operador div:nth-child(3n) {
	grid-row: 2;
}

#botoes .numero div:nth-child(3n+1),
#botoes .operador div:nth-child(3n+1) {
	grid-row: 2;
}
