* {
	margin: 0;
	padding: 0;
}

html {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #191919;
}

div#calculadora {
	background-color: black;
	width: 250px;
	padding: 10px;
}

#visor {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 50px;
	color: #000;
	background-color: #BBB;
	text-align: right;
	padding: 5px 20px;
}

#botoes {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
}

#botoes .numero {
	background-color: #BBB;
}

#botoes .operador {
	color: #FFF;
	background-color: #000;
}
